/*--------------------------------------------------------------------------
 *
 * Game
 *
 *
--------------------------------------------------------------------------*/

.game-slideshow {
	width: 500%;
	height: 33vw;
	overflow: hidden;
	position: relative;
}

.game-slide {
	width: 60vw;
	height: 30vw;
	position: absolute;
}

.slide-position1 {
	left: 5vw;
}

.slide-position2 {
	left: 75vw;
}

.slide-position3 {
	left: 145vw;
}

.slide-position0 {
	left: -70vw;
}

.slide-arrow {
	font-size: 3rem;
	color: #e7b06c;
}