/*--------------------------------------------------------------------------
 *
 * body
 *
 *
--------------------------------------------------------------------------*/

body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}


a {
	text-decoration: none;
}

/*--------------------------------------------------------------------------
 *
 * font
 *
 *
--------------------------------------------------------------------------*/

body {
	font-family: YakuHanJP;
	font-family: Kosugi Maru, sans-serif;
}

body {
	background: #fafafa;
	/*background-color: black;*/
}

.font-E1 {
	font-family: 'Varela Round', sans-serif;
}

.font-E2 {
	font-family: Libre Baskerville, serif;
}

.font-E3 {
	font-family: YakuHanJP, 'Allura', cursive;
}





/*--------------------------------------------------------------------------
 *
 * Z-index
 *
 *
--------------------------------------------------------------------------*/

.bg-effect {
	z-index: -1;
}
.bt-index {
	display: block;
	z-index: 10;
}

.bg-effect {
	z-index: 10;
}

.ef-fairy {
	z-index: 10;
}

#mask {
	z-index: 10;
}


/*--------------------------------------------------------------------------
 *
 * header
 *
 *
--------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------
 *
 * Top-Slider
 *
 *
--------------------------------------------------------------------------*/

.NL-top {
	display: grid;
	grid-template-rows: 9.5vw 9.5vw 9.5vw 9.5vw 9.5vw 9.5vw 9.5vw 9.5vw 9.5vw 9.5vw 9.5vw 9.5vw 9.5vw;
	grid-template-columns: 9.5vw 9.5vw 9.5vw 9.5vw 9.5vw 9.5vw 9.5vw 9.5vw 9.5vw 9.5vw 9.5vw 9.5vw 9.5vw;
	width: 130vw;
	height: 130vw;
	transform: rotate(45deg);
	position: relative;
	top: 33.5vw;
	left: -5vw;
}

.NL-top-position {
	width: 100%;
	height: 100vh;
	max-height: 50vw;
	display: flex;
	align-items: flex-end;
	overflow: hidden;
}

.dia-logo {
	background-color: #ffdbae;
	grid-row: 8 / 12;
	grid-column: 1 / 3;
}

.top-logo {
	height: 4.5vw;
	width: 12vw;
	background-color: tomato;
	position: relative;
	top: 22vw;
	left: 14vw;
	transform: rotate(-45deg);
}
	
.dia-scroll {
	background-color: #ffdbae;
	grid-row: 14 / 16;
	grid-column: 4 / 6;
}
	
.dia-slide1 {
	grid-row: 2 / 7;
	grid-column: 4 / 9;
	padding: 0.2vw;
}
	
.dia-slide2 {
	grid-row: 1 / 7;
	grid-column: 9 / 14;
	padding: 0.2vw;
}
	
.dia-slide3 {
	grid-row: 7 / 9;
	grid-column: 7 / 9;
	padding: 0.2vw;
}
	
.dia-slide4 {
	grid-row: 7 / 9;
	grid-column: 9/ 11;
	padding: 0.2vw;
}
	
.dia-slide5 {
	grid-row: 7 / 9;
	grid-column: 11 / 14;
	padding: 0.2vw;
}
	
.dia-slide6 {
	grid-row: 9 / 11;
	grid-column: 9/ 12;
	padding: 0.2vw;
}

.dia-slide-area {
	width: 100%;
	height: 100%;
	background-color: #ffdbae60;
}

.white1 {
	background-color: white;
	grid-row: 13 / 9;
	grid-column: 7 / 9;
}

.white2 {
	background-color: white;
	grid-row: 14 / 9;
	grid-column: 3 / 9;
}

.white3 {
	background-color: rgb(255, 255, 255);
	grid-row: 9 / 7;
	grid-column: 3 / 7;
}

/*--------------------------------------------------------------------------
 *
 * Top-Slider-scroll
 *
 *
--------------------------------------------------------------------------*/

.scroll-text {
	position: relative;
	top: 0vw;
	left: 6vw;
	transform: rotate(45deg);
	color: #e7c69e;
	font-size: 1.1vw;

}

.scroll-text:before {
    right: 7vw;
    width: 6vw;
    transition: .4s;

	content: "";
    position: absolute;
    top: 50%;
    height: 0px;
    border-top: 0.1vw solid #ffdbae;
    border-bottom: 0.1vw solid #fff;

	animation: scroll-anime 3s ease 0s infinite;
}

@keyframes scroll-anime {
	100% {
		width: 0vw;
	}
}


/*--------------------------------------------------------------------------
 *
 * Effect-test
 *
 *
--------------------------------------------------------------------------*/

.bg-effect {
	position: fixed;
	width: 100%;
	height: 100%;
}

.ef-fairy {
	position: fixed;
	width: 1.6vw;
	height: 1.6vw;
}

.ef-f1 {
	bottom: -2vw;
	right: -2vw;
	animation: ef-f1-anime 14s ease 0s infinite, fadeout-anime 14s linear 0s infinite;
}

@keyframes ef-f1-anime {
	95% {
		bottom: 10vw;
		right: 22vw;
	}
	100% {
		bottom: -2vw;
		right: -2vw;
	}
}

.ef-f2 {
	bottom: -6vw;
	right: 10vw;
	animation: ef-f2-anime 10s ease 0s infinite, fadeout-anime 10s linear 0s infinite;
	animation-delay: -1s;
}

@keyframes ef-f2-anime {
	95% {
		bottom: 6vw;
		right: 34vw;
	}
	100% {
		bottom: -6vw;
		right: 10vw;
	}
}

.ef-f3 {
	bottom: -6vw;
	right: 26vw;
	animation: ef-f3-anime 9s ease 0s infinite, fadeout-anime 9s linear 0s infinite;
	animation-delay: -2s;
}

@keyframes ef-f3-anime {
	95% {
		bottom: 6vw;
		right: 50vw;
	}
	100% {
		bottom: -6vw;
		right: 26vw;
	}
}

.ef-f4 {
	bottom: 10vw;
	right: -19vw;
	animation: ef-f4-anime 9s ease -3s infinite, fadeout-anime 9s linear -3s infinite;
}

@keyframes ef-f4-anime {
	95% {
		bottom: 22vw;
		right: 5vw;
	}
	100% {
		bottom: 10vw;
		right: -19vw;
	}
}

.ef-f5 {
	bottom: -8vw;
	right: -16vw;
	animation: ef-f5-anime 11s ease 0s infinite, fadeout-anime 11s linear 0s infinite;
}

@keyframes ef-f5-anime {
	95% {
		bottom: 4vw;
		right: 8vw;
	}
	100% {
		bottom: -8vw;
		right: -16vw;
	}
}

.ef-f6 {
	bottom: -1vw;
	right: 16vw;
	animation: ef-f6-anime 12s ease 7s infinite, fadeout-anime 12s linear 7s infinite;
}

@keyframes ef-f6-anime {
	95% {
		bottom: 11vw;
		right: 40vw;
	}
	100% {
		bottom: -1vw;
		right: 16vw;
	}
}

.ef-fairy-d {
	position: fixed;
	width: 0.8vw;
	height: 0.8vw;
}

.ef-fd1 {
	bottom: -6vw;
	right: -6vw;
	animation: ef-fd1-anime 16s ease 0s infinite, fadeout-anime 16s linear 0s infinite;
}

@keyframes ef-fd1-anime {
	95% {
		bottom: 6vw;
		right: 18vw;
	}
	100% {
		bottom: -6vw;
		right: -6vw;
	}
}

.ef-fd2 {
	bottom: -10vw;
	right: -22vw;
	animation: ef-fd2-anime 12s ease -4s infinite, fadeout-anime 12s linear -4s infinite;
}

@keyframes ef-fd2-anime {
	95% {
		bottom: 2vw;
		right: 2vw;
	}
	100% {
		bottom: -10vw;
		right: -22vw;
	}
}

.ef-fd3 {
	bottom: -4vw;
	right: -16vw;
	animation: ef-fd3-anime 12s ease -2s infinite, fadeout-anime 12s linear -2s infinite;
}

@keyframes ef-fd3-anime {
	95% {
		bottom: 8vw;
		right: 8vw;
	}
	100% {
		bottom: -4vw;
		right: -16vw;
	}
}

.ef-wing {
	position: fixed;
	width: 2vw;
	height: 2vw;
}

.ef-w1 {
	bottom: -2vw;
	right: -2vw;
	animation: ef-w1-anime 8s ease 2s infinite, fadeout-anime 8s linear 2s infinite;
}

@keyframes ef-w1-anime {
	20% {
		bottom: -2vw;
		right: -2vw;
	}
	95% {
		bottom: 10vw;
		right: 22vw;
		transform: rotateY(180deg);
		transform: scale(-1, 1);
	}
	100% {
		bottom: -2vw;
		right: -2vw;
	}
}

.ef-w2 {
	bottom: -7vw;
	right: 21vw;
	animation: ef-w2-anime 6s ease 0s infinite, fadeout-anime 6s linear 0s infinite;
}

@keyframes ef-w2-anime {
	10% {
		bottom: -7vw;
		right: 21vw;
	}
	95% {
		bottom: 5vw;
		right: 45vw;
		transform: rotateY(360deg);
	}
	100% {
		bottom: -7vw;
		right: 21vw;
	}
}

.ef-w3 {
	bottom: -5vw;
	right: -14vw;
	animation: ef-w3-anime 8s ease 0s infinite, fadeout-anime 8s linear 0s infinite;
}

@keyframes ef-w3-anime {
	10% {
		bottom: -5vw;
		right: -14vw;
	}
	95% {
		bottom: 7vw;
		right: 10vw;
		transform: rotateY(360deg);
	}
	100% {
		bottom: -5vw;
		right: -14vw;
	}
}

.ef-w4 {
	bottom: -2vw;
	right: 8vw;
	animation: ef-w4-anime 14s ease 0s infinite, fadeout-anime 14s linear 0s infinite;
}

@keyframes ef-w4-anime {
	30% {
		bottom: -2vw;
		right: 8vw;
	}

	95% {
		bottom: 10vw;
		right: 32vw;
		transform: rotateY(180deg);
		transform: scale(-1, 1);
	}
	100% {
		bottom: -2vw;
		right: 8vw;
	}
}

/*

bottom +12vw  right +24vw
アニメーション速度は多少ばらす
軽いものほど早く動く


*/


@keyframes fadeout-anime {
	60% {
		opacity: 1;
	}
	95% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}




/*--------------------------------------------------------------------------
 *
 * test
 *
 *
--------------------------------------------------------------------------*/


#open,
#close {
  cursor: pointer;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  padding: 12px;
  margin: 16px auto 0;
  background: #ffdbae;
  color: white;
}

#mask {
	background: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 1;
}
  
#modal {
	background: #fff;
	color: #555;
	width: 300px;
	padding: 40px;
	border-radius: 4px;
	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 2;
}
  
#modal p {
	margin: 0 0 20px;
}

#mask.hidden {
	display: none;
}
  
#modal.hidden {
	transform: translate(0, -500px);
}

#modal {
	background: #fff;
	color: #555;
	width: 300px;
	padding: 40px;
	border-radius: 4px;
	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 2;
	transition: 0.4s;
  }




.dmy {
	height: 40vh;
}

.bg-white {
	background-color: white;
}
