/*--------------------------------------------------------------------------
 *
 * body
 *
 *
--------------------------------------------------------------------------*/

body {
	margin: 0px;
	padding: 0px;
	/*
	overflow-x: hidden;
	*/
}

body {
	background-color: rgb(255, 255, 255);
}

a {
	text-decoration: none;
}



/*--------------------------------------------------------------------------
 *
 * Z-index
 *
 *
--------------------------------------------------------------------------*/


/*--------------------------------------------------------------------------
 *
 * header
 *
 *
--------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------
 *
 * test
 *
 *
--------------------------------------------------------------------------*/

.head-contents {
	display: grid;
	grid-template-rows: 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw;
	grid-template-columns: 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw;
	transform-origin: 50% 50%;
	transform: rotate(45deg);
	background-color: rgb(227, 243, 243);
}
