
/*--------------------------------------------------------------------------
 *
 * Top-Slider
 *
 *
--------------------------------------------------------------------------*/

.NL-top {
	display: grid;
	grid-template-rows: 9.5vw 9.5vw 9.5vw 9.5vw 9.5vw 9.5vw 9.5vw 9.5vw 9.5vw 9.5vw 9.5vw 9.5vw 9.5vw;
	grid-template-columns: 9.5vw 9.5vw 9.5vw 9.5vw 9.5vw 9.5vw 9.5vw 9.5vw 9.5vw 9.5vw 9.5vw 9.5vw 9.5vw;
	width: 130vw;
	height: 130vw;
	transform: rotate(45deg);
	position: relative;
	top: 33.5vw;
	left: -5vw;
}

.NL-top-position {
	width: 100%;
	height: 100vh;
	max-height: 50vw;
	display: flex;
	align-items: flex-end;
	overflow: hidden;
}

.dia-logo {
	background-color: #ffdbae;
	grid-row: 8 / 12;
	grid-column: 1 / 3;
}

.top-logo {
	height: 4.5vw;
	width: 12vw;
	background-color: tomato;
	position: relative;
	top: 22vw;
	left: 14vw;
	transform: rotate(-45deg);
}
	
.dia-scroll {
	background-color: #ffdbae;
	grid-row: 14 / 16;
	grid-column: 4 / 6;
}
	
.dia-slide1 {
	grid-row: 2 / 7;
	grid-column: 4 / 9;
	padding: 0.2vw;
}
	
.dia-slide2 {
	grid-row: 1 / 7;
	grid-column: 9 / 14;
	padding: 0.2vw;
}
	
.dia-slide3 {
	grid-row: 7 / 9;
	grid-column: 7 / 9;
	padding: 0.2vw;
}
	
.dia-slide4 {
	grid-row: 7 / 9;
	grid-column: 9/ 11;
	padding: 0.2vw;
}
	
.dia-slide5 {
	grid-row: 7 / 9;
	grid-column: 11 / 14;
	padding: 0.2vw;
}
	
.dia-slide6 {
	grid-row: 9 / 11;
	grid-column: 9/ 12;
	padding: 0.2vw;
}

.dia-slide-area {
	width: 100%;
	height: 100%;
	background-color: #ffdbae60;
}

.white1 {
	background-color: white;
	grid-row: 13 / 9;
	grid-column: 7 / 9;
}

.white2 {
	background-color: white;
	grid-row: 14 / 9;
	grid-column: 3 / 9;
}

.white3 {
	background-color: rgb(255, 255, 255);
	grid-row: 9 / 7;
	grid-column: 3 / 7;
}

/*--------------------------------------------------------------------------
 *
 * Top-Slider-scroll
 *
 *
--------------------------------------------------------------------------*/

.scroll-text {
	position: relative;
	top: 0vw;
	left: 6vw;
	transform: rotate(45deg);
	color: #e7c69e;
	font-size: 1.1vw;

}

.scroll-text:before {
    right: 7vw;
    width: 6vw;
    transition: .4s;

	content: "";
    position: absolute;
    top: 50%;
    height: 0px;
    border-top: 0.1vw solid #ffdbae;
    border-bottom: 0.1vw solid #fff;

	animation: scroll-anime 3s ease 0s infinite;
}

@keyframes scroll-anime {
	100% {
		width: 0vw;
	}
}