/*--------------------------------------------------------------------------
 *
 * Game
 *
 *
--------------------------------------------------------------------------*/

.game-slideshow {
	width: 500%;
	height: 33vw;
	overflow: hidden;
	position: relative;
}

.game-slide {
	width: 60vw;
	height: 30vw;
	position: absolute;
}

.slide-position1 {
	left: 0vw;
}

.slide-position2 {
	left: 70vw;
}

.slide-position3 {
	left: 140vw;
}

.slide-position0 {
	left: -65vw;
}

.slide-arrow {
	font-size: 1.8rem;
	color: #e7b06c;
	margin: 0px 0.2em;
}