/*--------------------------------------------------------------------------
 *
 * Gl-menu
 *
 *
--------------------------------------------------------------------------*/

.gl-menu {
	height: 100vh;
	width: 5vw;
	position: fixed;
	top: 0;
	right: 2vw;
}

.gl-index {
	height: 60vh;
	width: 100%;
}

.gl-under {
	height: 20vh;
}

.side-vertical {
	writing-mode: vertical-rl;
	color: #e7b06c;
	font-size: 0.8rem;
}

.fa-twitter {
	font-size: 1rem;
	color: white;
	transition: 0.4s;
}

.tw-round {
	width: 1.8rem;
	height: 1.8rem;
	background-color: #e7b06c;
	border-radius: 50%;
	transition: 0.4s;
}

.tw-round:hover {
	width: 0.1rem;
	height: 0.1rem;
}

.tw-round:hover .fa-twitter{
	color: #e7b06c;
	font-size: 2rem;
}



.gl-burger {
	display : block;
	position: fixed;
	right : 2.8vw;
	top   : 4vw;
	width : 3.5vw;
	height: 3.5vw;
	cursor: pointer;
	text-align: center;
}

.gl-burger span {
	display : block;
	position: absolute;
	width   : 2.8vw;
	height  : 0.15vw;
	left    : 0.4vw;
	background : #e7b06c;
	transition: 0.5s ease-in-out;
}

.gl-span1 {
	top: 0.71vw;
}
.gl-span2 {
	top: 1.41vw;
}
.gl-span3 {
	top: 2.14vw;
}

.gl-span1-active {
	top : 1.14vw;
	left: 0.42vw;
	transform: rotate(315deg);
}

.gl-span2-active,
.gl-span3-active {
	top: 1.14vw;
	transform: rotate(-315deg);
}

/*予備*/