/*--------------------------------------------------------------------------
 *
 * body
 *
 *
--------------------------------------------------------------------------*/

html {
	overflow: overlay;
}

body {
	overflow-x: hidden;
}

body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	background: #fafafa;
}

* {
	margin: 0px;
	padding: 0px;
}

p {
	line-height: 150%;
}


a {
	text-decoration: none;
}

/*--------------------------------------------------------------------------
 *
 * font
 *
 *
--------------------------------------------------------------------------*/

:root {
	font-size: 1.4vw;
	color: #333;
}

h2 {
	font-size: 6rem;
	font-weight: normal;
	margin: 0;
	color: #e7b06c;
}

.fs-1_2rem {
	font-size: 1.2rem;
}

.fs-0_8rem {
	font-size: 0.8rem;
}

.lh-110 {
	line-height: 110%;
}

.lh-120 {
	line-height: 120%;
}

body {
	font-family: YakuHanJP;
	font-family: Kosugi Maru, sans-serif;
}

.font-E1 {
	font-family: 'Varela Round', sans-serif;
}

.font-E2 {
	font-family: Libre Baskerville, serif;
}

.font-E3 {
	font-family: YakuHanJP, 'Allura', cursive;
}

.co-white {
	color: #fafafa;
}

.co-brown {
	color: #e7b06c;
}

.co-grey {
	color: #9b9b9b;
}

.vertical-text {
	writing-mode: vertical-rl;
	color: #ffdbae;
	font-size: 2rem;
}

.v-line {
	font-size: 0.5rem;
	margin-left: 2rem;
}


/*--------------------------------------------------------------------------
 *
 * Z-index
 *
 *
--------------------------------------------------------------------------*/

.bg-effect {
	z-index: -1;
}
.bt-index {
	display: block;
	z-index: 10;
}

#drawer-menu {
	z-index: 20;
}

.gl-menu {
	z-index: 30;
}

#news {
	z-index: 10;
}






/*--------------------------------------------------------------------------
 *
 * common
 *
 *
--------------------------------------------------------------------------*/

.section {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 40vh;
}

.section-2 {
	width: 70%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 40vh;
}

.width100 {
	width: 100%;
}

.width95 {
	width: 95%;
}

.width90 {
	width: 90%;
}

.width5 {
	width: 5%;
}

.width10 {
	width: 10%;
}

.display-flex {
	display: flex;
}

.space-between {
	display: flex;
	justify-content: space-between;
}

.space-around {
	display: flex;
	justify-content: space-around;
}

.space-around-column {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

.content-core {
	display: flex;
	align-items: center;
	justify-content: center;
}

.column-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.flex-lower-right {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.justify-center {
	display: flex;
	justify-content: center;
}

.row-reverse {
	display: flex;
	flex-direction: row-reverse;
}

.content-left {
	display: flex;
	align-items: center;
	justify-content: left;
}

.align-center {
	display: flex;
	align-items: center;
}

.center {
	margin-right: auto;
	margin-left: auto;
}

.d-block {
	display: block;
}

.text-center {
	text-align: center;
}

.m-top-1rem {
	margin-top: 1rem;
}

.m-top-05rem {
	margin-top: 0.5rem;
}

.m-top-2rem {
	margin-top: 2rem;
}

.m-bottom-1rem {
	margin-bottom: 1rem;
}

.m-bottom-05rem {
	margin-bottom: 0.5rem;
}

.m-bottom-2rem {
	margin-bottom: 2rem;
}

.m-right-1rem {
	margin-right: 1rem;
}

.m-right-05rem {
	margin-right: 0.5rem;
}

.m-right-2rem {
	margin-right: 2rem;
}

.m-left-1rem {
	margin-left: 1rem;
}

.m-left-05rem {
	margin-left: 0.5rem;
}

.m-left-2rem {
	margin-left: 2rem;
}

.p-tb-05rem {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.p-tb-1rem {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.p-rl-2rem {
	padding-right: 2rem;
	padding-left: 2rem;
}

.y-hidden {
	overflow-y: hidden;
}

.opacity-0 {
	opacity: 0;
}

.display-none {
	display: none;
}

.tr-duration-05s {
	transition-duration: 0.5s;
}

.tr-duration-1s {
	transition-duration: 1s;
}

.tr-duration-2s {
	transition-duration: 2s;
}

.tr-delay-01s {
	transition-delay: 0.1s;
}

.tr-delay-02s {
	transition-delay: 0.2s;
}

.tr-delay-03s {
	transition-delay: 0.3s;
}

.tr-delay-04s {
	transition-delay: 0.4s;
}

.isdisable {
	opacity: 0.7; /*透明度を下げる*/
	pointer-events: none; /*クリック無効にする*/
}

.overflow-hidden {
	overflow:hidden;
}

.img-zoom {
	transition:1s all;
}

.img-zoom:hover {
	transform:scale(1.1,1.1);
	transition:0.5s all;
}

.hover-flash {
	opacity: 1;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}

.hover-flash::before {
	background-color: #fafafa;
	content: "";
	display: block;
	position: absolute;
	top: -7vw;
	left: 0;
	width: 2vw;
	height: 100%;
	opacity: 0;
	transition: cubic-bezier(0.32, 0, 0.67, 0);
}

.hover-flash:hover::before {
	animation: hover-flash-anime 0.5s linear 1;
}
   
@keyframes hover-flash-anime {
	0% {
		transform: scale(2) rotate(45deg);
		opacity: 0;
	}
	20% {
		transform: scale(20) rotate(45deg);
		opacity: 0.6;
	}
	40% {
		transform: scale(30) rotate(45deg);
		opacity: 0.4;
	}
	80% {
		transform: scale(45) rotate(45deg);
		opacity: 0.2;
	}
	100% {
	  transform: scale(50) rotate(45deg);
		opacity: 0;
	}
}


/*--------------------------------------------------------------------------
 *
 * button
 *
 *
--------------------------------------------------------------------------*/

.bt-typeA {
	display: inline-block;
	color: #e7b06c;
	text-decoration: none;
	border: 0.1vw solid transparent;
	padding: 1.2vw 4vw;
	position: relative;
	width: 20vw;
	text-align: center;
}

.bt-typeA-border::after,
.bt-typeA-border::before,
.bt-typeA-border-inner::after,
.bt-typeA-border-inner::before {
	background-color: #e7b06c;
	content: '';
	display: block;
	position: absolute;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
}

.bt-typeA-border::after {
	width: 0px;
	height: 0.1vw;
	top: -0.1vw;
	left: -0.1vw;
}

.bt-typeA-border::before {
	width: 0px;
	height: 0.1vw;
	right: -0.1vw;
	bottom: -0.1vw;
}

.bt-typeA-border-inner::after {
	width: 0.1vw;
	height: 0.1vw;
	left: -0.1vw;
	bottom: -0.1vw;
}

.bt-typeA-border-inner::before {
	width: 0.1vw;
	height: 0.1vw;
	top: -0.1vw;
	right: -0.1vw;
}


.bt-typeA-border:hover::after,
.bt-typeA-border:hover::before {
  width: 100%;
  width: calc(100% + 0.1vw);
}

.bt-typeA-border:hover .bt-typeA-border-inner::after,
.bt-typeA-border:hover .bt-typeA-border-inner::before {
  height: 100%;
  height: calc(100% + 0.1vw);
}






.index-anime {
	overflow: hidden;
	transform: translate(-100%, 0);
	transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 1s;
}

.index-anime span {
	display: block;
	transform: translate(100%, 0);
	transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 1s;
}

.index-anime.-visible,
.index-anime.-visible span {
  transform: translate(0, 0);
}



.fadeout {
	animation : fadeOut 1s;
	animation-fill-mode: both;
  }
  @keyframes fadeOut {
	0% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
}












.vertical-line {
	background-color: #e7b06c;
	width: 0.15vw;
	height: 10vw;
	margin-bottom: 3em;
}

.bg-tomato {
	background-color: tomato;
}

.dmy {
	height: 200vh;
}